@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(14, 14, 14);
    scroll-behavior: smooth;
}
/* global */
img {
    width: 100%;
    height: 100%;
}
section {
    width: 100%;
    background-color: rgb(14, 14, 14);
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
}
.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    
}
.section-heading {
	font-size: clamp(2.9rem, 10vw, 6rem);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	position: relative;
	margin-bottom: 2rem;
	color: white;
    z-index: 1;
}
/* .section-heading:before {
	content: attr(data-outline);
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Poppins';
	letter-spacing: 0.2rem;
	color: transparent;
	-webkit-text-stroke: 1.5px rgb(163, 163, 163);
	z-index: -1;
} */

.container {
	width: 90%;
	margin: 0 auto;
	/* max-width: 1400px; */
}
@media only screen and (max-width: 768px) {
	body {
		width: 100%;
	}
	section {
		width: 100%;
	}
}
@media only screen and (max-width: 280px) { 
	body {
		width: 100%;
	}
}

/* NAVBAR */
#navbar {
    padding: 6px;
    position: fixed;
    width: 100%;
    z-index: 31;
    background-color: rgb(14, 14, 14);
}
.logo{
    position: absolute;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    left: 0;
    margin-left: 30px;
}
.logo span{
    font-weight: 300;
}
#navbar .cont-nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* MOBILE DISPLAY NONE */
#navbar .cont-nav svg {
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: none;
}
#navbar .menu-list .close-btn {
	position: absolute;
	right: 30px;
	top: 20px;
	color: black;
}
.menu-btn svg {
	color: white;
	z-index: 100;
}
#navbar .menu-list {
	display: inline-flex;
    text-transform: uppercase;
}
#navbar .menu-list li {
	list-style: none;
}
#navbar .menu-list li a {
	color: white;
	font-size: 17.8px;
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration: none;
	transition: all .3 ease;
	margin-left: 30px;
    display: inline-block;
    position: relative;
}

#navbar .menu-list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
#navbar .menu-list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 768px) {
	#navbar {
		padding: 4px;
	}
	#navbar .cont-nav {
		padding: 0 15px 0 0;
	}
	#navbar .cont-nav svg {
		display: block;
	}
	#navbar .cont-nav svg.hide {
		display: none;
	}
	#navbar .menu-list {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		width: 100%;
		max-width: 100%;
		display: block;
		padding: 50px 0;
		text-align: center;
		background-color: white;
		transition: all .3s ease;
        margin-right: 0;
	}
	#navbar .menu-list.active {
        right: 0;
        padding: 0;
	}
	#navbar .menu-list li {
        margin-top: 8.5vh;
		/* margin-top: 65px; */
		align-items: center;
        justify-content:space-between;
	}
	#navbar .menu-list li a {
        margin: 0;
		font-size: 3rem;
		color: black;
        text-align: center;
	}
}
@media (max-width: 375px) {
	#navbar .menu-list li {
        margin-top: 8vh;
	}
	#navbar .menu-list li a {
		font-size: 2.8rem;
	}
}

#navbar .menu-list li a {
    display: inline-block;
    position: relative;
}
  .borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(243, 80%, 62%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  



/* HERO */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}
.moon {
    bottom: 100px;
    width: 200px;
    height: 190px;
    z-index: 19;
    margin-bottom: 350px ;
    position: absolute;
}
.spaceship{
    position: absolute;
    width: 380px;
    height: 650px;
    bottom: -300px;
    left: center;
    z-index: 20;
    margin-left: 30px;
}
.space{
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #ffffff 0%,rgb (14,14,14) 100%);
}
.big-title{
    position: absolute;
    margin-top: 10px;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}
@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }
    .text{
        font-size: .8rem;
    }
    .title{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 360px) { 
    .moon {
        bottom: 100px;
        width: 150px;
        height: 140px;
        z-index: 19;
        margin-bottom: 240px;
        position: absolute;
    }
    .spaceship{
        position: absolute;
        width: 280px;
        height: 450px;
        bottom: -220px;
        left: center;
        z-index: 20;
        margin-left: 30px;
    }
}

/* ABOUT */
.shadow{
    position: absolute;
    bottom: 99.9%;
    height: 30vh;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, rgb(8, 8, 8), transparent);
}
.about {
	padding-top: 5.5rem;
	color: white;
}
.about .wrapper {
    display: flex;
	align-items: flex-start;
	justify-content: space-around;
	gap: 3rem;
    margin-top: 90px;
}
.about .sub-wrapper {
	padding: 1rem;
	width: 400px;
}
.about img {
	height: 395px;
	width: 400px;
}
#about .wrapper2 {
    padding-top: 10rem;
}
#about .wrapper2 .grid {
    padding-top: 50px;
	align-items: center;
	justify-content: space-between;
	display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    width: 65%;
    align-items: flex-start;
    margin: auto;
} 
#about .wrapper2 .grid-item {
    cursor: pointer;
    transition: 0.2s;
    background-color: #e4e8eb;
    border-radius: 0.4rem;
    overflow: hidden;
    height: 600px;
}
#about .wrapper2 .grid-item:hover {
    transform: translateY(-0.5%);
}
#about .wrapper2 .card-img {
    display: block;
    width: 100%;
    height: 38%;
    object-fit: cover;
}
#about .wrapper2 .card-content {
    padding: 1.2rem;
    align-items: center;
	justify-content: center;
    text-align: center;
	width: auto;
    height: 62%;
	border-radius: 25px;
}
#about .wrapper2 .card-header {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 1.5rem;
    display: block;
}
#about .wrapper2 .card-text {
    font-size: 16px;
    font-weight: 300;
    height: 70%;
    color: #000000;
    overflow: hidden;
}
/* GRID */
@media only screen and (max-width: 1250px) {
    #about .wrapper2 .grid-item {
        height: 500px;
    }
}
@media only screen and (max-width: 850px) {
    #about .wrapper2 .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #about .wrapper2 .grid-item {
        height: 500px;
    }
}
@media only screen and (max-width: 600px) {
    #about .wrapper2 .grid-item {
        height: 500px;
    }
    #about .wrapper2 .grid {
        width: 80%;
    }
}
/* FIN GRID */

@media only screen and (max-width: 1150px) {
	.about .wrapper {
		flex-direction: column;
		text-align: center;
        align-items: center;
	}
    .about .sub-wrapper {
        width: 80%;
	}
    .about img {
        height: 370px;
        width: 380px;
    }
}
@media only screen and (max-width: 420px) {
    .about {
        padding-top: 80px;
    }
    .about .wrapper {
        margin: 0;
    }
    .about .sub-wrapper {
        width: 90%;
        padding: 0;
	}
	.about img {
		height: 90%;
		width: 100%;
	}
}

/* SERVICES */
#services {
    margin-top: 10rem;
	padding-top: 5rem;
}
#services .flex_box {
    padding-top: 50px;
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
} 
#services .box-item {
    cursor: pointer;
    transition: 0.2s;
    background-color: #e4e8eb;
    border-radius: 0.4rem;
    overflow: hidden;
    height: 600px;
    width: 30%;
}
#services .box-item:hover {
    transform: translateY(-0.5%);
    /* box-shadow: 0 2rem 1.5rem #8b8c895e; */
}
#services .card-img {
    display: block;
    width: 100%;
    height: 38%;
    object-fit: cover;
}
#services .card-content {
    padding: 1.2rem;
    align-items: center;
	justify-content: center;
    text-align: center;
	width: auto;
    height: 62%;
	border-radius: 25px;
}
#services .card-header {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 1.5rem;
    display: block;
}
#services .card-text {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    height: 45%;
    overflow: hidden;
}
#services .overlayLeftBtn {
    width: 90%;
    padding: 12px 24px;
    top: 60px;
    background-color: rgb(20, 20, 20);
    border-radius: .4rem;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
}
#services .overlayLeftBtn span {
    color: white;
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}
#services .overlayLeftBtn::before {
    content: '';;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 6px;
    transform: translate(-101%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);;
}
#services .overlayLeftBtn:hover span {
    color: hsl(222, 100%, 95%);
}
#services .overlayLeftBtn:hover::before {
    transform: translate(0, -50%);
}

@media only screen and (max-width: 1150px) {
    #services .flex_box {
        padding-top: 0;
    }
    #services .box-item {
        width: 40%;
        margin-top: 100px;
  }
}
@media only screen and (max-width: 900px) {
    #services .box-item {
        width: 100%;
        margin: 50px 10%;
    }
}

/* Gallery */
#gallery {
    margin-top: 8rem;
    padding-top: 60px;
    padding-bottom: 100px;
}
#gallery .container {
    margin: 0 10vw;
}
/* img */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 330px;
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item:nth-child(1) {
    grid-column-start: span 2;
}
.gallery__item:nth-child(4) {
    grid-column-start: span 2;
}

.gallery__item:nth-child(6) {
    grid-row-start: span 2;
}
/* .gallery__item:nth-child(9) {
    grid-column-start: span 2;
    grid-row-start: span 2;
} */
@media only screen and (max-width: 850px) { 
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 580px) { 
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px 0;
    }
}

#contact {
    margin-top: 7rem;
}
#contact .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
}
#contact .contact-box {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#contact .left {
    height: 100%;
    width: 500px;
    background: url("../img/moon.png") no-repeat center;
    background-size: cover;
}
#contact .right {
    padding: 25px 50px;
}
#contact h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: white;
}
#contact h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
}
#contact .field {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
#contact .field:hover{
    background-color: rgb(153, 153, 153);
}
#contact .field:focus{
    background-color: rgb(168, 168, 168);
    border: 2px solid rgb(255, 255, 255);
}
#contact .area {
    min-height: 150px;
}
.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    color: black;
    transition: .3s;
}
#contact .btn:hover {
    background-color: rgb(153, 153, 153);
}
@media screen and (max-width:880px){
    #contact .container {
        padding: 20px 30px;
    }
    #contact .contact-box {
        grid-template-columns: 1fr;
    }
    #contact .left {
        margin: auto;
        height: 250px;
        width: 250px;
    }
    #contact .right {
        padding: 25px 20px;
    }
}


